.flipbook {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  height: 70vh;
  justify-content: center;
  /* margin-top: 8vh; */
  position: relative;
  width: 90vw;
}

.flipbook__footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: -3rem;
  width: 100%;
  z-index: 1;
}
